@model Cinema.Models.bookticket
<br />
<br />
<h3 style="color:orangered">booking is successfully done.</h3>
<br />
<h3 style="color:orangered">Details are : </h3>
<h3 style="color:whitesmoke">Name  : @ViewBag.x.c.name</h3>
<br />
<h3 style="color:whitesmoke">Phone number :  @ViewBag.x.c.phone</h3>
<br />
<h3 style="color:whitesmoke"> movie name  :  @ViewBag.x.m.name</h3>
<br />
<h3 style="color:whitesmoke"> number of tickets are :  @ViewBag.x.c.tickets</h3>
<br />
<h3 style="color:whitesmoke"> Your slot number is   :  @ViewBag.x.m.slot</h3>
<br />
<h3 style="color:whitesmoke"> Your pass code is  :  @ViewBag.x.c.Id</h3>

<br /><br /><br /><br /><br />







